.parentLoginContainer .heroImage::before,
.registercontainer .heroImage::before,
.passwordContainer .heroImage::before{
    background-image: url('../../Assets/Images/Skoolz-Hero-Image.jpg');
    position: absolute;
    content: '';
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.parentLoginContainer .heroImage,
.registercontainer .heroImage,
.passwordContainer .heroImage{
   background-color: rgba(0, 0, 0, .5);
   position: relative;
   padding: 77px 0 50px;
}

.parentLoginContainer .googleBtn{
    background-color: #DD4B39;
    cursor: pointer;
    text-align: center;
    font-size: small;
    border-radius: 3px;
    margin: 10px;
    padding: 3px;
    
}
.parentLoginContainer .facebookBtn{
    background-color: #3A5A97;
    cursor: pointer;
    text-align: center;
    font-size: small;
    border-radius: 3px;
    margin: 10px;
    padding: 3px;
}

.parentLoginContainer .loginCard,
.registercontainer .registerCard,
.passwordContainer .forgetpassCard{
    background: rgba(0, 0, 0, .7);
    color: #fff;
    border-radius: 24px;
    width:358px;
    margin: 0 auto;
    font-size: 14px;
}
.parentLoginBtn,
.parentRegisterBtn{
    color: #ffffff;
    text-decoration: none;
    padding: 12px 0;
    border-radius: 27px;
    min-width: 120px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.25s ease;
    box-shadow: none;
    background: #34A853;
    border: none;
}
.parentLoginBtn:hover,
.parentRegisterBtn:hover{
    background-color: #ffffff;
    text-decoration: none;
    padding: 12px 0;
    border-radius: 27px;
    min-width: 120px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.25s ease;
    box-shadow: none;
    border:1px solid #34A84F;
    color: #34A853;
}
.title{
    color: #34A84F;
    font-weight: 600;
}
.parentLoginContainer a{
    color:gainsboro;
}
.parentLoginContainer .register,
.registercontainer .Login{
    color:#34A84F;
}
.parentLoginContainer .loginCard .cardLogo,
.registercontainer .registerCard .cardLogo,
.passwordContainer .forgetpassCard .cardLogo{
    position: relative;
    left: 144px;
    top: -32px;
    background-color: #34A84F;
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.parentLoginContainer .card-footer,
.registercontainer .card-footer,
.passwordContainer .card-footer{
    border-top: 1px solid gainsboro;
}
.loginCard .form-control,
.registerCard .form-control{
    border: none;
}

.loginCard .form-control:focus,
.registerCard .form-control:focus{
    box-shadow: none;
    outline: none;
}

