.parentLoginContainer .heroImage::before,
.registercontainer .heroImage::before,
.passwordContainer .heroImage::before{
    background-image: url('../../Assets/Images/Skoolz-Hero-Image.jpg');
    position: absolute;
    content: '';
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.parentLoginContainer .heroImage,
.registercontainer .heroImage,
.passwordContainer .heroImage{
   background-color: rgba(0, 0, 0, .5);
   position: relative;
   padding: 77px 0 50px;
}

.parentLoginContainer .googleBtn{
    background-color: #DD4B39;
    cursor: pointer;
    text-align: center;
    font-size: small;
    border-radius: 3px;
    margin: 10px;
    padding: 3px;
    
}
.parentLoginContainer .facebookBtn{
    background-color: #3A5A97;
    cursor: pointer;
    text-align: center;
    font-size: small;
    border-radius: 3px;
    margin: 10px;
    padding: 3px;
}

.parentLoginContainer .loginCard,
.registercontainer .registerCard,
.passwordContainer .forgetpassCard{
    background: rgba(0, 0, 0, .7);
    color: #fff;
    border-radius: 24px;
    width:358px;
    margin: 0 auto;
    font-size: 14px;
}
.parentLoginBtn,
.parentRegisterBtn{
    color: #ffffff !important;
    text-decoration: none;
    border-radius: 27px;
    padding: 14px;
    min-width: 130px;
    text-align: center;
    transition: 0.25s;
    box-shadow: none;
    background: #34A853;
    border: 1px solid #34A853;
}
.parentLoginBtn:hover,
.parentRegisterBtn:hover{
    box-shadow: inset 0 -3.25em 0 0 #fff;
    color: #34a853 !important;
    border: 1px solid #34a853;
}
.title{
    color: #34A84F;
    font-weight: 600;
}
.parentLoginContainer a{
    color:gainsboro;
}
.parentLoginContainer .register,
.registercontainer .Login{
    color:#34A84F;
}
.parentLoginContainer .loginCard .cardLogo,
.registercontainer .registerCard .cardLogo,
.passwordContainer .forgetpassCard .cardLogo{
    position: relative;
    left: 144px;
    top: -32px;
    background-color: #34A84F;
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.parentLoginContainer .card-footer,
.registercontainer .card-footer,
.passwordContainer .card-footer{
    border-top: 1px solid gainsboro;
}
.loginCard .form-control,
.registerCard .form-control,
.forgetpassCard .form-control{
    border: none;
    height: 44px;
    background: rgb(235, 234, 234) !important;
}

.loginCard .form-control:focus,
.registerCard .form-control:focus,
.forgetpassCard .form-control:focus{
    box-shadow: none;
    outline: none;
}

.signIn button{
   background-color: #DD4B39 !important;
   color: #fff;
   border-radius: 5px;
   margin: 10px !important;
}
.signIn button:hover{
   opacity: 1 !important;
 }
.signIn button div{
    display: none;
}
.signIn button span{
    color: #fff;
    padding: 0px !important;
    margin: 0px !important;
}
.errorMsg {
    color: #DD4B39;
    font-weight: 500;
    text-align: left;
}