/* @font-face {
    font-family: 'MontserratRegular';
    src: local('Mont'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'MontserratSemiBold';
    src: local('Mont'), url(./fonts/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'MontserratBold';
    src: local('Mont'), url(./fonts/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "MontserratBlack";
    src: local("Mont"), url(./fonts/Montserrat-Black.ttf) format("truetype");
}

body {
    font-family: MontserratRegular !important;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
} */
.schoolMainHome .topSchoolSection.topSchoolBlog .swiper-slide {
    transition: 1s;
    transform: scale(1.0);
    transform-origin: center;
}

.schoolMainHome .topSchoolSection.topSchoolBlog .swiper-slide:hover {
    cursor: pointer;
}

.schoolMainHome .swiper-container {
    width: 100%;
    height: 90%;
}

.schoolMainHome .swiper-pagination,
.schoolMainHome .swiper-button-prev,
.schoolMainHome .swiper-button-next {
    position: inherit;
    margin-top: 20px;
    line-height: 46px;
}

.schoolMainHome .swiper-button-prev {
    margin-left: 40%;
}

.schoolMainHome .swiper-button-next {
    margin-right: 40%;
}

.schoolMainHome .swiper-button-next,
.schoolMainHome .swiper-button-prev {
    color: #3A9605;
    outline: none;
}

.schoolMainHome .swiper-button-next:after,
.schoolMainHome .swiper-button-prev:after {
    font-size: 18px;
    font-weight: bold;
}

.schoolMainHome .swiper-container-blogs {
    width: 100%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.schoolMainHome .swiper-container-blogs .swiper-slide {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid #F2F1F1;
    border-radius: 6px;
    margin-bottom: 10px;
}

.schoolMainHome .swiper-container-blogs h1 {
    font-size: 20px;
    font-family: MontserratSemiBold;
    text-align: left;
    padding-top: 16px;
}

.schoolMainHome .swiper-container-blogs p {
    font-size: 16px;
    color: rgba(0, 0, 0, .8);
    font-family: MontserratRegular;
    text-align: left;
    margin-top: 20px;
    padding-right: 10px;
}

.schoolMainHome .swiper-container-blogs .logo {
    position: absolute;
    left: 15px;
    bottom: 0;
    height: 20px;
    width: 54px;
}

.schoolMainHome .swiper-pagination-blogs,
.schoolMainHome .swiper-button-prev-blogs,
.schoolMainHome .swiper-button-next-blogs {
    position: inherit;
    margin-top: 20px;
    line-height: 46px;
}

.schoolMainHome .swiper-button-prev-blogs {
    margin-left: 40%;
}

.schoolMainHome .swiper-button-next-blogs {
    margin-right: 40%;
}

.schoolMainHome .swiper-button-next-blogs,
.schoolMainHome .swiper-button-prev-blogs {
    color: #3A9605;
    outline: none;
}

.schoolHome .swiper-button-next-blogs:after,
.schoolMainHome .swiper-button-prev-blogs:after {
    font-size: 18px;
}

.schoolMainHome .swiper-button-next-blogs:after {
    content: 'next';
    font-family: swiper-icons;
    cursor: pointer;
}

.schoolMainHome .swiper-button-prev-blogs:after {
    content: 'prev';
    font-family: swiper-icons;
    cursor: pointer;

}

.schoolMainHome .swiper-pagination-blogs,
.schoolMainHome .swiper-button-prev-blogs,
.schoolMainHome .swiper-button-next-blogs {
    text-align: center;
}

.schoolMainHome .swiper-button-next-blogs.swiper-button-disabled,
.schoolMainHome .swiper-button-prev-blogs.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}

.schoolMainHome .pagination {
    display: flex;
}

.schoolMainHome .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.baseContainer {
    width: 100%;
    padding-right: 8%;
    padding-left: 8%;
}

.topSchoolSectionTitle {
    margin-top: 64px;
    margin-bottom: 47px;
    font-family: MontserratSemiBold;
    font-weight: 600;
    font-size: 36px;
    color: #012F4F;
    color: #FF6700;
    text-align: center;
}

.btn-board-trendblogshome {
    background-color: #ffffff;
    border-radius: 50rem;
    border: none !important;
    padding: 0.375rem 0.75rem;
}

.btnSelected {
    background-color: darkorange !important;
    color: #FFF !important;
    border: none !important;
    outline: none !important;
}


.schoolSearch .swiper-slide {
    background-size: cover !important;
    background-position: center center !important;
    background: #F3F3F3;
    width: 100% !important;
}

.schoolSearch.newsearch .swiper-slide {
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.schoolSearch .gallery-thumbs .swiper-slide {
    width: 92px !important;
    height: 80px !important;
    opacity: 1;
    background: #DEDDDD;
}

.schoolSearch .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.indexBlogs .row {
    margin: 0px;
}

.indexBlogsImage {
    height: 100%;
}

.indexBlogs .blog {
    margin-bottom: 0px !important;
}

.indexBlogs .post_info {
    padding: 10px !important;
    text-align: left !important;
    padding-bottom: 20px !important;
}

.indexBlogs .blog .post_info ul {
    margin: 0;
}

article.blog figure .preview {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 2;
}

article.blog figure .preview span {
    background-color: #fcfcfc;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    color: #222;
    font-size: 0.75rem;
    padding: 5px 10px;
}

article.blog figure:hover .preview {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

article.blog .post_info {
    padding: 30px;
    position: relative;
    box-sizing: border-box;
    height: 100%;
}

article.blog .post_info small {
    font-weight: 500;
    color: #999;
}

article.blog .post_info p {
    font-size: 14px;
    color: rgba(0, 0, 0, .6);
    font-family: MontserratRegular;
    text-align: justify;
}

article.blog .post_info h3 {
    font-size: 1.125rem;
}

article.blog .post_info h3 a {
    color: #0a0a0a;
    font-family: MontserratSemiBold;
    text-decoration: none;
}

article.blog .post_info h3 a:hover {
    color: #34A853;
}

article.blog .post_info ul {
    margin: 0 -30px 0 -30px;
    padding: 10px 15px 0 15px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    border-top: 1px solid #ededed;
}

article.blog .post_info ul li {
    display: inline-block;
    position: relative;
    padding: 12px 0 0 55px;
    font-weight: 500;
    font-size: 0.75rem;
    color: #999;
}

article.blog .post_info ul li .thumb {
    width: 80px;
    height: 40px;
    overflow: hidden;
    border-radius: 0%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

article.blog .post_info ul li .thumb img {
    width: 80px;
    height: auto;
}

article.blog .post_info ul li:last-child {
    float: right;
    padding-left: 0;
}
article.blog figure {
    height: 350px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}


@media (max-width: 991px) {
    article.blog .post_info ul {
        position: static;
        width: auto;
    }
    .mr-st {
        margin-right: 194px;
        height: auto;
    }
}


@media only screen and (max-width: 768px) {
    .baseContainer {
        width: 100%;
        padding-right: 17px;
        padding-left: 17px;
    }

    .topSchoolSectionTitle {
        margin-top: 32px;
        margin-bottom: 10px;
        font-size: 24px;
    }

}

@media only screen and (max-width: 280px) {
    .baseContainer {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media only screen and (max-width: 1370px) {
    .schoolSearch .gallery-thumbs .swiper-slide {
        width: 81px !important;
        height: 60px !important;
    }
}