.hobbyClassContainer .buttonSectionOne ul{
    list-style: none;
}
.hobbyClassContainer .buttonSectionOne ul li{
    display: inline-block;
}
.hobbyClassContainer .buttonSectionOne li button{
    background: rgba(52, 168, 79, 1);
    color: #fff;
    border-radius: 50rem;
    padding: 0.375rem 0.75rem;
    border: none !important;
    margin: 10px 18px;
}
.hobbyClassContainer .buttonSectionTwo  button{
    border-radius: 50rem;
    padding: 0.375rem 0.75rem;
    border: none !important;
    margin: 10px 18px;
}
.hobbyClassContainer h1{
    font-weight: 600;
    color: darkorange ;
}
.btnSelected {
    background-color: darkorange !important;
    color: #FFF !important;
    border: none !important;
    outline: none !important;
}