.grid {
    margin-top: 35px;
}

.schoolSearch {
    background-color: #f8f8f8;
    width: 100%;
}
.schoolSearch .footerModel {
    position:sticky;
    width: 100%;
    height: 150px;
    bottom: 0px;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.footerBody .footerSchoolCard{
    box-shadow: 0 0 10px rgba(0,0,0,0.2); 
}
.footerBody .compairBtn{
    color: #ffffff !important;
    cursor: pointer;
    text-decoration: none;
    height: 45px;
    line-height: 45px;
    border-radius: 27px;
    min-width: 120px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.25s;
    box-shadow: none;
    background: #34A853;
    border: 1px solid #34A853;
}
.footerModel .footerTop{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
.footerModel .closeFooter{
    cursor: pointer;
    position: absolute;
    display: inline-block;
    right: 40px;
    top:10px
}

.hidenIcons .filterIcon button,
.hidenIcons .chatIcon button {
    background-color: #35a84f;
    color: #fff;
}

.hidenIcons {
    display: none;
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1247px;
    }
}

.schools-container {
    display: flex;
}

.SearchFilter {
    align-self: flex-end;
    position: sticky;
    bottom: 0;
}

.schoolSearch.hide {
    height: 100vh;
    overflow: hidden;
}

.model.show {
    position: sticky;
    z-index: 999999999999;
    height: calc(100vh - 100px);
    top: 85px;
}

.modal-dialog {
    height: 100%;
    pointer-events: all;
}

.modal-content {
    height: 100%;
    overflow-y: scroll;
}
.searchFilterPad{
    padding-right: 0px;
}

@media only screen and (max-width: 768px) {
    .grid {
        margin-top: 100px;
    }

    .SearchFilter {
        display: none;
    }

    .hidenIcons {
        display: flex;
        position: fixed;
        bottom: 20px;
        height: 45px;
        width: 45px;
        left: 30px;
        z-index: 999;
    }

   
}