@media only screen and (min-width: 991px) {
    
  }
  
  @media only screen and(max-width:767px) {
 
  }

 .cartContainer .joinOurNetwork {
    min-height: 132px;
    background: linear-gradient(90deg, #044816 0%,   #34A853 104.58%);
    width: 100%;
    margin-top: 10px;
    justify-content: left;
  }
  .cartBody .heilghtText{
    text-align: left;
    font-size: larger;
    font-weight: 400;
  }
  .cartBody .leftcard,
  .cartBody .rightCard{
    text-align: left;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  }
  .leftcard .checkoutBth{
    background-color: #34A853;
    color: #ffff;
    padding: 5px 5px;
    border: #34A853;

  }
  .cartContainer .joinOurNetworkText{
    font-size: 36px;
    font-weight: 400;
    margin: 2px;
  }
  .leftcard .headText{
    font-size: 24px;
  }
  .leftcard .rupesText{
    font-size: 40px;
    font-weight: 600;
    color: #D6712D;
  }
  .rightCard .rupesText{
    font-size: 30px;
    font-weight: 600;
    color: #D6712D;
  }
  .rightCard .schoolName{
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color:black;
  }
  .cartBody a:hover{
    color: #D6712D;
  }