
/* *{
    font-family: 'MontserratSemiBold';
} */

button{
    background-color: white;
    color: rgb(124, 122, 122);
    border-radius: 20px;
    border: 1px solid gray;
    margin: 7px;
}
.filterTitle{
    text-align: left;
    font-size: larger;
    font-weight: 700;
    display: table-cell;
    border-bottom: 2px solid #D6712D;
    margin: 5px;
    padding: 5px 0px;
}
.searchFilters {
    font-weight: 600;
    padding: 6px 2px;
    text-align: left;
    
    
}
.searchFilters .clearFilters{
    font-weight: 600;
    color: #34A853;
    text-decoration: none;
    float: right;
    margin-left: 60px;
} 
.filterCard{
    margin: 15px 0px 0px 0px;
    text-align: left;
    
}
.adds{
    height: 255px;
}
.sidebar-card{
    background: #fff;
    /* padding: 34px 0 2px; */
    padding: 20px;    
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: 0px 4px 4px rgb(149 149 149 / 10%);
    border: 1px solid #EAEAEA;
    border-radius: 6px;

}
