
.blogsDetailsContainer .detailsContainer{
    text-align: left;
}
.blogsDetailsContainer .detailsContainer .card .splText{
    width: 100%;
    background-color: #126528;
}
.blogsDetailsContainer .detailsContainer .card .splText h6{
    color: #fff;
    text-align: center;
}
.blogsDetailsContainer .socalMediaIcons button{
    margin: 0 3px;
    width: 30px;
    height: 30px;
    transition: all .3s ease;
}
.blogsDetailsContainer .socalMediaIcons button:hover{
    transform: translateY(-10px);
    transition: all .3s ease;
  
}
.blogsDetailsContainer .leaderCard{
    background-color:#f7f7f7;;
}
.blogsDetailsContainer .detailsContainer a{
    color: black;
}
.blogsDetailsContainer .detailsContainer a:hover{
    color:#126528;
    
}

@media only screen and (min-width: 991px) {
    .blogsDetailsContainer {
        margin-top: 120px;
    }

}