.BlogsContainer .ButtonGroup{
    list-style: none;
}
.BlogsContainer h1{
    font-weight: 600;
    color:rgba(52, 168, 79, 1) ;
}
.BlogsContainer .btngroupLineOne .ButtonGroup li,
.BlogsContainer .btngroupLineTwo .ButtonGroup li{
    display: inline-block;
    margin: 5px 10px;
} 
.BlogsContainer .ButtonGroup button{
    background: rgba(52, 168, 79, 1);
    color: #fff;
    border-radius: 50rem;
    padding: 0.375rem 0.75rem;
    border: none !important;
} 
.btnSelected {
    background-color: darkorange !important;
    color: #FFF !important;
    border: none !important;
    outline: none !important;
}
.BlogsContainer .btn-content button{
    background-color: #FFF;
    color: black;
}
.BlogsContainer .blogsCard{
    text-align: left;
}
.BlogsContainer .blogsCard .eventDiscription{
    text-align:justify;
    font-size: 14px;
    color: rgba(0,0,0,.6);
}
.BlogsContainer .blogsCard .eventsLink a{
    color: black;
    font-weight: 600;
}
.BlogsContainer .blogsCard .eventsLink a:hover{
    color: rgba(52, 168, 79, 1);
}
.BlogsContainer .blogsCard img{
    height: 100%;
}


@media only screen and (min-width: 991px) {
    .BlogsContainer {
        margin-top: 120px;
    }

}