
.blogsDetailsContainer .blogDetalisCard, 
.blogsDetailsContainer .headLinks {
    text-align: left;
}
.blogDetalisCard .contantDataDis{
    text-align: justify;
}
.blogsDetailsContainer .detailsContainer .blogDetalisCard .splText{
    width: 100%;
    background-color: #126528;
}
.blogsDetailsContainer .detailsContainer .blogDetalisCard .splText h6{
    color: #fff;
    text-align: center;
}
.blogsDetailsContainer .blogDetalisCard{
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0,.2);
    border-radius: 0;
}
.blogsDetailsContainer .socalMediaIcons button{
    margin: 0 3px;
    width: 30px;
    height: 30px;
    transition: all .3s ease;
}
.blogsDetailsContainer .socalMediaIcons button:hover{
    transform: translateY(-10px);
    transition: all .3s ease;
  
}
.blogsDetailsContainer .leaderCard{
    background-color:#f7f7f7;;
}
.blogsDetailsContainer .headLinks a {
    color: black;
}
.blogsDetailsContainer .headLinks a:hover{
    color:#126528;
    
}

@media only screen and (min-width: 991px) {
    .blogsDetailsContainer {
        margin-top: 120px;
    }

}