ul{
    padding: 0;
}

.EventsWebinardetails .detailsContainer .card,
.EventsWebinardetails .headLinks{
    text-align: left;
}

.EventsWebinardetails .eventName{
    color: #FF6700;
    font-weight: 900;
}
.EventsWebinardetails .card .eventHeader,
.EventsWebinardetails .splcontent{
    color: #FF6700;
}

.EventsWebinardetails .headLinks a{
    color: black;
}
.EventsWebinardetails .headLinks a:hover{
    color:rgba(52, 168, 79, 1);
}
.EventsWebinardetails .socalMediaIcons button{
    margin: 0 3px;
    width: 30px;
    height: 30px;
    transition: all .3s ease;
}
.EventsWebinardetails .socalMediaIcons button:hover{
    transform: translateY(-10px);
    transition: all .3s ease;
}
@media screen and (min-width :768px) {
    .EventsWebinardetails .detailsContainer{
        margin-top: 100px;
    }   
}