ul {
    padding: 0;
}

.eventsAndWebinar .card {
    text-align: left;
}
.eventsAndWebinar .card .eventContent .eventDiscription{
    text-align: justify;
}

.eventsAndWebinar .headLinks {
    text-align: left;

}

.eventsAndWebinar .eventDiscription p {
    font-size: small;
    color: gray;
}

.eventsAndWebinar .headLinks a :hover {
    color: green;

}

.eventsAndWebinar .headerPart h1 {
    color: green;
    font-weight: 900;
    font-size: xx-large;
}

.cardFooter img {
    width: 100px;
    align-items: flex-start;
}

.cardFooter {
    border-top: 1px solid gray;
}

.img-fuild {
    height: 250px;
    width: 500px;
}



.QuicklinksButton {
    background: rgba(52, 168, 79, 1);
    color: #fff;
    border-radius: 50rem;
    padding: 0.375rem 0.75rem;
    border: none !important;
    width: 100%;
}

.QuicklinksButton:hover {
    background: #FF6700;
    color: #fff;

}



.eventsAndWebinar .card .eventsLink a {
    color: black !important;
}

.eventsAndWebinar .card .eventsLink a:hover {
    color: rgba(52, 168, 79, 1) !important;
}

.card>div>div {
    position: relative;
}

.eventsAndWebinar .eventContent {
    position: relative;
    overflow: hidden;
    height: calc(100% - 48px);
}
.eventsAndWebinar .headLinks a{
    color: black;
}
.eventsAndWebinar .headLinks a:hover{
    color:rgba(52, 168, 79, 1);
}





@media only screen and (max-width: 768px) {
    /* .eventsAndWebinar {
        margin-top: 150px;
    } */

}