.baseContainer {
    width: 100%;
    padding-right: 8%;
    padding-left: 8%;
}

.schoolMainHome .swiper-container-evTestimonial {
    width: 100%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.topSchoolSectionTitle {
    margin-top: 64px;
    margin-bottom: 47px;
    font-family: MontserratSemiBold;
    font-weight: 600;
    font-size: 36px;
    color: #012F4F;
    color: #FF6700;
    text-align: center;
}

.topSchoolSectionTitleawards {
    margin-top: 64px;
    margin-bottom: 47px;
    font-family: MontserratSemiBold;
    font-weight: 600;
    font-size: 36px;
    color: #012F4F;
    color: #34A853;
    text-align: center;
}

.topSchoolSectionTitleTestimonial {
    margin-top: 64px;
    margin-bottom: 47px;
    font-family: MontserratSemiBold;
    font-weight: 600;
    font-size: 36px;
    color: #012F4F;
    color: #34A853;
    text-align: center;
}
.mySwiper{
    position: relative;
}
.swiper-wrapper{
    padding-bottom: 50px;
}
.schoolMainHome .mySwiper .swiper-button-prev,
.schoolMainHome .mySwiper .swiper-button-next{
    position: absolute !important;
    top: inherit;
    bottom: 36px;
}

.schoolMainHome .swiper-container-evTestimonial .swiper-slide {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid #F2F1F1;
    border-radius: 6px;
    margin-bottom: 10px;
}

.schoolMainHome .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.indexBlogs .row {
    margin: 0px;
}

.indexBlogsImage {
    height: 100%;
}

.indexBlogs .blog {
    margin-bottom: 0px !important;
}

.indexBlogs .post_info {
    padding: 10px !important;
    text-align: left !important;
    padding-bottom: 20px !important;
}

.paddingP {
    padding-left: 20px;
    text-align: justify;
}

.indexBlogs .blog .post_info ul {
    margin: 0;
}

.parentName {
    color: #34A853;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-left: 13px;
}

.description {
    font-size: 14px;
    line-height: 22px;
    color: #FF6700;
    margin-left: 14px;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: end;
}

.schoolMainHome .swiper-pagination-evTestimonial,
.schoolMainHome .swiper-button-prev-evTestimonial,
.schoolMainHome .swiper-button-next-evTestimonial {
    position: inherit;
    margin-top: 20px;
    line-height: 46px;
}

.schoolMainHome .swiper-button-prev-evTestimonial {
    margin-left: 40%;
}

.schoolMainHome .swiper-button-next-evTestimonial {
    margin-right: 40%;
}

.schoolMainHome .swiper-button-next-evTestimonial,
.schoolMainHome .swiper-button-prev-evTestimonial {
    color: #3A9605;
    outline: none;
}

.schoolHome .swiper-button-next-evTestimonial:after,
.schoolMainHome .swiper-button-prev-evTestimonial:after {
    font-size: 18px;
}

.schoolMainHome .swiper-button-next-evTestimonial:after {
    content: 'next';
    font-family: swiper-icons;
}

.schoolMainHome .swiper-button-prev-evTestimonial:after {
    content: 'prev';
    font-family: swiper-icons;
}

.schoolMainHome .swiper-pagination-evTestimonial,
.schoolMainHome .swiper-button-prev-evTestimonial,
.schoolMainHome .swiper-button-next-evTestimonial {
    text-align: center;
}

.schoolMainHome .swiper-button-next-evTestimonial.swiper-button-disabled,
.schoolMainHome .swiper-button-prev-evTestimonial.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}

.schoolMainHome .swiper-pagination,
.schoolMainHome .swiper-button-prev,
.schoolMainHome .swiper-button-next {
    position: inherit;
    margin-top: 20px;
    line-height: 46px;
}

.schoolMainHome .swiper-button-prev {
    margin-left: 40%;
}

.schoolMainHome .swiper-button-next {
    margin-right: 40%;
}

.schoolMainHome .swiper-button-next,
.schoolMainHome .swiper-button-prev {
    color: #3A9605;
    outline: none;
}

.schoolMainHome .swiper-button-next:after,
.schoolMainHome .swiper-button-prev:after {
    font-size: 18px;
    font-weight: bold;
}


.schoolMainHome .pagination {
    display: flex;
}

.joinOurNetwork {
    min-height: 132px;
    background: linear-gradient(90deg, #34A853 0%, #044816 104.58%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.joinOurNetworkText {
    display: flex;
    font-family: MontserratRegular;
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}

.viewMoreTestimonialsHomeButton {
    margin-left: 215px;
}

.joinOurNetworkButton {
    height: 54px;
    line-height: 54px;
    font-family: MontserratRegular;
    font-size: 18px;
    color: #ffffff;
    margin-left: 100px;
    padding-left: 0px;
    padding-right: 0px;
    background: rgba(52, 168, 83, 1);
    border-radius: 27px;
    font-weight: 600;
    width: 300px;
}

.joinOurNetworkButton a {
    color: #fff;
}

.joinOurNetworkButton div:hover {
    color: #fff;
}

.registerSchoolIcon {
    background-size: 100%;
    width: 26px;
    height: 33px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 5px 14px;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    margin: 6px;
}

.schoolMainHome .topSchoolSection.topSchoolBlog .swiper-slide {
    transition: 1s;
    transform: scale(1.0);
    transform-origin: center;
}

.schoolMainHome .swiper-container {
    width: 100%;
    height: 90%;
}

.schoolMainHome .swiper-container-evTestimonial h1 {
    font-size: 20px;
    font-family: MontserratSemiBold;
    text-align: left;
    padding-top: 16px;
}

.schoolMainHome .swiper-container-evTestimonial p {
    font-size: 17px;
    color: rgba(0, 0, 0, .8);
    font-family: MontserratRegular;
    text-align: left;
    margin-top: 20px;
    padding-right: 10px;
}

.schoolMainHome .swiper-container-evTestimonial .logo {
    position: absolute;
    left: 15px;
    bottom: 0;
    height: 20px;
    width: 54px;
}

.schoolMainHome .topSchoolSection.topSchoolBlog .swiper-slide:hover {
    cursor: pointer;
}

.schoolSearchResultSlider .swiper-wrapper .swiper-slide img {
    height: 300px;
}

.schoolSearch .gallery-thumbs .swiper-slide {
    width: 92px !important;
    height: 80px !important;
    opacity: 1;
    background: #DEDDDD;
}

.schoolSearch .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.blogTitle {
    margin-top: 150px;
}

article.blog {
    min-height: 200px;
    margin-bottom: 30px;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}

article.blog figure {
    height: 350px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    .baseContainer {
        width: 100%;
        padding-right: 17px;
        padding-left: 17px;
    }

    .topSchoolSectionTitle {
        margin-top: 32px;
        margin-bottom: 10px;
        font-size: 24px;
    }

    .topSchoolSectionTitleawards {
        margin-top: 32px;
        margin-bottom: 10px;
        font-size: 24px;
    }

    .topSchoolSectionTitleTestimonial {
        margin-top: 32px;
        margin-bottom: 10px;
        font-size: 24px;
    }

    .schoolSearch .gallery-thumbs .swiper-slide {
        width: 81px !important;
        height: 60px !important;
    }

    .joinOurNetwork {
        min-height: 132px;
        background: linear-gradient(90deg, #34A853 0%, #044816 104.58%);
        width: 100%;
        line-height: inherit;
        padding-top: 20px;
        margin-top: 20px;
        padding-bottom: 25px;
    }

    .joinOurNetworkText {
        margin: auto;
        width: 100%;
        display: block;
        font-family: MontserratRegular;
        font-size: 2.5rem;
        color: rgba(255, 255, 255, .8);
        font-weight: 600;
        text-align: center;
    }

    .joinOurNetworkButton {
        margin: auto;
        width: 60%;
        font-family: MontserratRegular;
        font-size: 25px;
        color: #ffffff;
        margin-left: 10%;
        padding-left: 0px;
        padding-right: 0px;
        background: rgba(52, 168, 83, 1);
        border-radius: 27px;
        font-weight: 600;
        margin: auto;
        margin-top: 12px;
    }

}

@media only screen and (max-width: 280px) {
    .baseContainer {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .blogTitle {
        margin-top: 180px;
    }
}

article.blog {
    min-height: 200px;
    margin-bottom: 30px;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}

article.blog figure {
    height: 350px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}

@media (max-width: 991px) {
    article.blog figure {
        height: 250px;
    }

    .headerSearchBarWeb {
        width: 33%;
    }

    .schoolSearch.SearchDetail .gallery-top {
        height: calc(100vh - 124px);
    }
}

@media (max-width: 767px) {
    article.blog figure {
        height: 200px;
    }
}

article.blog figure .preview {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 2;
}

article.blog figure .preview span {
    background-color: #fcfcfc;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    color: #222;
    font-size: 0.75rem;
    padding: 5px 10px;
}

article.blog figure:hover .preview {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

article.blog figure img {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -moz-transition: 0.3s;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: auto;
    height: 400px;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

article.blog figure img:hover {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -moz-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    -o-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
}



@media (max-width: 991px) {
    article.blog figure img {
        max-width: 50%;
        margin-right: 194px;
        height: 196px !important;
    }

    .mr-st {
        margin-right: 194px;
        height: auto;
    }

    .ht-st {
        height: auto;
    }
}

article.blog .post_info {
    padding: 30px;
    position: relative;
    box-sizing: border-box;
    height: 100%;
}

article.blog .post_info small {
    font-weight: 500;
    color: #999;
}

article.blog .post_info p {
    font-size: 14px;
    color: rgba(0, 0, 0, .6);
    font-family: MontserratRegular;
}

article.blog .post_info h3 {
    font-size: 1.125rem;
}

article.blog .post_info h3 a {
    color: #000000;
    font-family: MontserratSemiBold;
}

article.blog .post_info h3 a:hover {
    color: #34A853;
}

article.blog .post_info ul {
    margin: 0 -30px 0 -30px;
    padding: 10px 15px 0 15px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    border-top: 1px solid #ededed;
}

article.blog .post_info ul li {
    display: inline-block;
    position: relative;
    padding: 12px 0 0 55px;
    font-weight: 500;
    font-size: 0.75rem;
    color: #999;
}

article.blog .post_info ul li .thumb {
    width: 80px;
    height: 40px;
    overflow: hidden;
    border-radius: 0%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

article.blog .post_info ul li .thumb img {
    width: 80px;
    height: auto;
}

article.blog .post_info ul li:last-child {
    float: right;
    padding-left: 0;
}

@media (max-width: 991px) {
    article.blog .post_info ul {
        position: static;
        width: auto;
    }
}

/* .baseContainer {
    width: 100%;
    padding-right: 8%;
    padding-left: 8%;
}
.paddingP {
    padding-left: 20px;
    text-align: justify;
}
.parentName {
    color: #34A853;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-left:13px;
}

.description {
    font-size: 14px;
    line-height: 22px;
    color: #FF6700;
    margin-left: 14px;
}
.footer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: end;
}
.schoolMainHome .topSchoolSection.topSchoolBlog .swiper-slide {
    transition: 1s;
    transform: scale(1.0);
    transform-origin: center;
}

.schoolMainHome .topSchoolSection.topSchoolBlog .swiper-slide:hover {
    cursor: pointer;
}

.schoolSearchResultSlider .swiper-wrapper .swiper-slide img {
    height: 300px;
}

.schoolMainHome .swiper-container {
    width: 100%;
    height: 90%;
}

.schoolMainHome .swiper-pagination,
.schoolMainHome .swiper-button-prev,
.schoolMainHome .swiper-button-next {
    position: inherit;
    margin-top: 20px;
    line-height: 46px;
}

.schoolMainHome .swiper-button-prev {
    margin-left: 40%;
}

.schoolMainHome .swiper-button-next {
    margin-right: 40%;
}

.schoolMainHome .swiper-button-next,
.schoolMainHome .swiper-button-prev {
    color: #3A9605;
    outline: none;
}

.schoolMainHome .swiper-button-next:after,
.schoolMainHome .swiper-button-prev:after {
    font-size: 18px;
    font-weight: bold;
}

.schoolMainHome .swiper-container-evTestimonial {
    width: 100%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.schoolMainHome .swiper-container-evTestimonial .swiper-slide {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid #F2F1F1;
    border-radius: 6px;
    margin-bottom: 10px;
}

.schoolMainHome .swiper-container-evTestimonial h1 {
    font-size: 20px;
    font-family: MontserratSemiBold;
    text-align: left;
    padding-top: 16px;
}

.schoolMainHome .swiper-container-evTestimonial p {
    font-size: 17px;
    color: rgba(0, 0, 0, .8);
    font-family: MontserratRegular;
    text-align: left;
    margin-top: 20px;
    padding-right: 10px;
}

.schoolMainHome .swiper-container-evTestimonial .logo {
    position: absolute;
    left: 15px;
    bottom: 0;
    height: 20px;
    width: 54px;
}

.schoolMainHome .swiper-pagination-evTestimonial,
.schoolMainHome .swiper-button-prev-evTestimonial,
.schoolMainHome .swiper-button-next-evTestimonial {
    position: inherit;
    margin-top: 20px;
    line-height: 46px;
}

.schoolMainHome .swiper-button-prev-evTestimonial {
    margin-left: 40%;
}

.schoolMainHome .swiper-button-next-evTestimonial {
    margin-right: 40%;
}

.schoolMainHome .swiper-button-next-evTestimonial,
.schoolMainHome .swiper-button-prev-evTestimonial {
    color: #3A9605;
    outline: none;
}

.schoolHome .swiper-button-next-evTestimonial:after,
.schoolMainHome .swiper-button-prev-evTestimonial:after {
    font-size: 18px;
}

.schoolMainHome .swiper-button-next-evTestimonial:after {
    content: 'next';
    font-family: swiper-icons;
}

.schoolMainHome .swiper-button-prev-evTestimonial:after {
    content: 'prev';
    font-family: swiper-icons;
}

.schoolMainHome .swiper-pagination-evTestimonial,
.schoolMainHome .swiper-button-prev-evTestimonial,
.schoolMainHome .swiper-button-next-evTestimonial {
    text-align: center;
}

.schoolMainHome .swiper-button-next-evTestimonial.swiper-button-disabled,
.schoolMainHome .swiper-button-prev-evTestimonial.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}

.schoolMainHome .pagination {
    display: flex;
}

.schoolMainHome .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.topSchoolSectionTitle {
    margin-top: 64px;
    margin-bottom: 47px;
    font-family: MontserratSemiBold;
    font-weight: 600;
    font-size: 36px;
    color: #012F4F;
    color: #FF6700;
    text-align: center;
}

.topSchoolSectionTitleawards {
    margin-top: 64px;
    margin-bottom: 47px;
    font-family: MontserratSemiBold;
    font-weight: 600;
    font-size: 36px;
    color: #012F4F;
    color: #34A853;
    text-align: center;
}

.topSchoolSectionTitleTestimonial {
    margin-top: 64px;
    margin-bottom: 47px;
    font-family: MontserratSemiBold;
    font-weight: 600;
    font-size: 36px;
    color: #012F4F;
    color: #34A853;
    text-align: center;
}

.schoolSearch .gallery-thumbs .swiper-slide {
    width: 92px !important;
    height: 80px !important;
    opacity: 1;
    background: #DEDDDD;
}

.schoolSearch .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.indexBlogs .row {
    margin: 0px;
}

.indexBlogsImage {
    height: 100%;
}

.indexBlogs .blog {
    margin-bottom: 0px !important;
}

.indexBlogs .post_info {
    padding: 10px !important;
    text-align: left !important;
    padding-bottom: 20px !important;
}



.indexBlogs .blog .post_info ul {
    margin: 0;
}

.blogTitle {
    margin-top: 150px;
}
article.blog {
    min-height: 200px;
    margin-bottom: 30px;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}

    article.blog figure {
        height: 350px;
        overflow: hidden;
        position: relative;
        margin-bottom: 0;
    }

@media only screen and (max-width: 768px) {
    .baseContainer {
        width: 100%;
        padding-right: 17px;
        padding-left: 17px;
    }

    .topSchoolSectionTitle {
        margin-top: 32px;
        margin-bottom: 10px;
        font-size: 24px;
    }

    .topSchoolSectionTitleawards {
        margin-top: 32px;
        margin-bottom: 10px;
        font-size: 24px;
    }

    .topSchoolSectionTitleTestimonial {
        margin-top: 32px;
        margin-bottom: 10px;
        font-size: 24px;
    }

    .schoolSearch .gallery-thumbs .swiper-slide {
        width: 81px !important;
        height: 60px !important;
    }
}

@media only screen and (max-width: 280px) {
    .baseContainer {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .blogTitle {
        margin-top: 180px;
    }
}
article.blog {
    min-height: 200px;
    margin-bottom: 30px;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}

    article.blog figure {
        height: 350px;
        overflow: hidden;
        position: relative;
        margin-bottom: 0;
    }

@media (max-width: 991px) {
    article.blog figure {
        height: 250px;
    }

    .headerSearchBarWeb {
        width: 33%;
    }

    .schoolSearch.SearchDetail .gallery-top {
        height: calc(100vh - 124px);
    }
}

@media (max-width: 767px) {
    article.blog figure {
        height: 200px;
    }
}

article.blog figure .preview {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 2;
}

    article.blog figure .preview span {
        background-color: #fcfcfc;
        background-color: rgba(255, 255, 255, 0.8);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        border-radius: 20px;
        display: inline-block;
        color: #222;
        font-size: 0.75rem;
        padding: 5px 10px;
    }

article.blog figure:hover .preview {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

article.blog figure img {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -moz-transition: 0.3s;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: auto;
    height: 400px;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

    article.blog figure img:hover {
        -webkit-transform: translate(-50%, -50%) scale(1.1);
        -moz-transform: translate(-50%, -50%) scale(1.1);
        -ms-transform: translate(-50%, -50%) scale(1.1);
        -o-transform: translate(-50%, -50%) scale(1.1);
        transform: translate(-50%, -50%) scale(1.1);
    }



@media (max-width: 991px) {
    article.blog figure img {
        max-width: 50%;
        margin-right: 194px;
        height: 196px !important;
    }

    .mr-st {
        margin-right: 194px;
        height: auto;
    }

    .ht-st {
        height: auto;
    }
}

article.blog .post_info {
    padding: 30px;
    position: relative;
    box-sizing: border-box;
    height: 100%;
}

    article.blog .post_info small {
        font-weight: 500;
        color: #999;
    }

    article.blog .post_info p {
        font-size: 14px;
        color: rgba(0,0,0,.6);
        font-family: MontserratRegular;
    }

    article.blog .post_info h3 {
        font-size: 1.125rem;
    }

        article.blog .post_info h3 a {
            color: #000000;
            font-family: MontserratSemiBold;
        }

            article.blog .post_info h3 a:hover {
                color: #34A853;
            }

    article.blog .post_info ul {
        margin: 0 -30px 0 -30px;
        padding: 10px 15px 0 15px;
        width: 100%;
        position: absolute;
        bottom: 20px;
        border-top: 1px solid #ededed;
    }

        article.blog .post_info ul li {
            display: inline-block;
            position: relative;
            padding: 12px 0 0 55px;
            font-weight: 500;
            font-size: 0.75rem;
            color: #999;
        }

            article.blog .post_info ul li .thumb {
                width: 80px;
                height: 40px;
                overflow: hidden;
                border-radius: 0%;
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0;
            }

                article.blog .post_info ul li .thumb img {
                    width: 80px;
                    height: auto;
                }

            article.blog .post_info ul li:last-child {
                float: right;
                padding-left: 0;
            }

@media (max-width: 991px) {
    article.blog .post_info ul {
        position: static;
        width: auto;
    }
} */